# Environment
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
.Python
*.so

# Distribution / packaging
.eggs/
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/
data/

# Testing
.pytest_cache/
.mypy_cache/
.tox/
.coverage
htmlcov/
